.sign_menu{
  font-family: arial, sans-serif;
  font-size-adjust: 0.58;
  align-items: right;
  text-align: right;
  margin: 10px auto;
}

.sign_in{
  margin-right: 50px;
}

.sign_up_message{
  margin-right: 100px;
  color: white;
}
.sign_out{
  margin-right: 80px;
}

.buttons {
    background-color: #ffff;
    color: red;
    padding: 3px 3px;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
