 /*Container holding the image and the text */
.venue_page{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
  color: white;
}

.image{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}
.container {
  width: 25%;
  height: 25%;
  position: relative;
}

.text-block {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }


.info-text{
  margin-right: 200px;
  text-align: left;
  position: relative;
}

.both-buttons{
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}
