<html>

<head>

</head>

<body>
<div>
  <h1>Welcome <%= @name %> </h1>

  <h4 id="title">House 1</h4>
  <img id="image" src="https://static.pexels.com/photos/106399/pexels-photo-106399.jpeg" height="200" width="200">
</div>




</body>

</html>
