<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src='../src/newVenueInterface.js' ></script>
</head>

<body>
  <form action='/venue' method='post'>
    <input name= 'title' type="text" placeholder="enter title" >
    <input name= 'address' type="text" placeholder="enter address" >
    <input name= 'price' type="text" placeholder="enter price" >
    <input name= 'description' type="text" placeholder="enter description" >
    <input name= 'picture' type="url" placeholder="enter image" >
    <input id="createVenue" type="submit">
  </form>

</body>

</html>
