<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src='../../src/favorite.js' ></script>
  <link rel="stylesheet" type='text/css' href="/css/particles.css">

</head>

<body>
  <div id="particle overlay">
  <h1> Add a new venue</h1>
  <form action='/venue' method='post'>
    <input name= 'title' type="text" placeholder="enter title" >
    <input name= 'address' type="text" placeholder="enter address" >
    <input name= 'city' type="text" placeholder="enter city" >
    <input name= 'price' type="text" placeholder="enter price" >
    <input name= 'description' type="text" placeholder="enter description" >
    <input name= 'picture' type="url" placeholder="enter image" >
    <input id="createVenue" value='Add' type="submit">
  </form>

  <br>
  <h1> Click here go back to venues</h1>
    <form action='/venue' method='get'>
      <input id='go_venues' value='View Venues' type='submit'>
    </form>


</div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="../../src/particles.js"></script>
</body>

</html>
