<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src='../src/newVenueInterface.js' ></script>
</head>

<body>
  <form id="createVenue">
    <input id= 'title' type="text" placeholder="enter title" >
    <input id= 'address' type="text" placeholder="enter address" >
    <input id= 'price' type="text" placeholder="enter price" >
    <input id= 'picture' type="image" placeholder="enter image" >
    <input type="submit">
  </form>

</body>

</html>
