<h1>This is Makers bnb</h1>
  <form id='sign_in_form' action='/' method='post'>
    <input id='email' name='email' type='email' placeholder='enter email'>
    <input id='password' name='password' type='password' placeholder='enter password'>
    <br><input id='sign_in' value='Sign In' type='submit'>
  </form><br>
<h5>Don't have an account?</h5>
  <form action='/sign_up' method='get'>
    <input id='go_sign_up' value='Sign Up' type='submit'>
  </form>
<h1> Click here to see venues</h1>
  <form action='/venue' method='get'>
    <input id='go_venues' value='View Venues' type='submit'>
  </form>
