This is Makers bnb

<form id='sign_in_form' action='/' method='post'>
  <input id='email' name='email' type='email' placeholder='enter email'>
  <input id='password' name='password' type='password' placeholder='enter password'>
  <br><input id='sign_in' name='sign in' type='submit'>

</form>
