<form id='sign_in_form' action='/' method='post'>
  <input id='email' type='email' placeholder='enter email'>
  <input id='password' type='password' placeholder='enter password'>
  <input id='sign_in' type='submit'>

</form>
