This is Makers bnb

<form id='sign_in_form' action='/' method='post'>
  <input id='email' name='email' type='email' placeholder='enter email'>
  <input id='password' name='password' type='password' placeholder='enter password'>
  <br><input id='sign_in' value='Sign In' type='submit'>
</form><br>
Don't have an account?
<form action='/sign_up' method='get'>
  <input id='go_sign_up' value='Sign Up' type='submit'>
</form>
