<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src='../src/search.js' ></script>
</head>


<input type="text" class="live-search-box" placeholder="search here" />

<ul class="live-search-list">
<li>Lorem</li>
<li>ipsum</li>
<li>dolor</li>
<li>sit</li>
<li>amet</li>
</ul>
