<html>
<head lang = 'en'>
  <meta charset="utf-8">
  <!-- include source files here... -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type= "text/javascript" src="/src/sign_up_interface.js"></script>
</head>

<form action='/welcome' method="get">
Username: <input id="username" type="text"><br>
Email: <input id="email" type="email"><br>
Password: <input id="password" type="password"><br>
Confirm Password: <input id="confirm_password" type="password"><br>
<button id="sign_up" type="submit">Sign Up</button>
</form>
</html>
